
[ General ]

apiDefinition = api/raygui.json
cHeader = raygui.h
namespacePrefix = gui

[ Snippets ]

moduleHeader = snippets/raygui_header.nim

[ KeepNamespacePrefix ]

# Enums
GuiState
GuiTextAlignment
# Functions
GuiEnable
GuiDisable
GuiLock
GuiUnlock
GuiIsLocked
GuiFade

[ OutParameters ]

GuiTabBar/active
GuiScrollPanel/scroll
GuiScrollPanel/view
GuiToggle/active
GuiToggleGroup/active
GuiToggleSlider/active
GuiCheckBox/active
GuiComboBox/active
GuiDropdownBox/active
GuiSpinner/value
GuiValueBox/value
GuiSlider/value
GuiSliderBar/value
GuiProgressBar/value
GuiGrid/mouseCell
GuiListView/scrollIndex
GuiListView/active
GuiListViewEx/scrollIndex
GuiListViewEx/active
GuiListViewEx/focus
GuiTextInputBox/secretViewActive
GuiColorPicker/color
GuiColorPanel/color
GuiColorBarAlpha/alpha
GuiColorBarHue/value
GuiColorPickerHSV/colorHsv
GuiColorPanelHSV/colorHsv

[ TypeReplacements ]

[ ReadOnlyFields ]

[ PrivateSymbols ]

[ ArrayTypes ]

[ FuncOverloadSuffixes ]

Ex

[ FunctionOverloads ]

GuiListViewEx

[ NoSideEffectsFuncs ]

[ IgnoredSymbols ]

# Types
Vector2
Vector3
Color
Rectangle
Texture2D
Image
GlyphInfo
Font

[ EnumValuePrefixes ]

STATE_
TEXT_ALIGN_
ICON_
